<p-dialog
  header="Authenticate User"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '25vw' }"
  [draggable]="false"
  [resizable]="false"
  [appendTo]="'body'"
  (onHide)="closeForm()"
>
  <form [formGroup]="form" class="m-t-30">
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
      >Username</mat-label
    >
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput formControlName="uname" />
    </mat-form-field>
    <!-- password -->
    <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
      >Password</mat-label
    >
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <ng-container>
      <a
        (click)="authenticate()"
        mat-flat-button
        color="primary"
        class="w-100"
        [disabled]="saving"
      >
        Authenticate
      </a>
    </ng-container>

    <!-- input -->
  </form>
</p-dialog>
