<div class="row">
  <div class="col-lg-8">
    <app-monthly-sales-chart></app-monthly-sales-chart>
  </div>
  <!-- <div class="col-lg-8">
    <app-revenue-forecast></app-revenue-forecast>
  </div> -->

  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-stocks-generation></app-stocks-generation>
        <!-- <app-new-customers></app-new-customers> -->
      </div>
      <div class="col-12">
        <mat-card class="cardWithShadow" style="width: 360px">
          <mat-card-content>
            <div class="card-container">
              <div class="graph-container">
                <app-machine-production
                  *ngFor="
                    let item of getMachineGenerationDto.getMachineGenerationV1Dtos
                  "
                  [data]="item"
                  [num]="1"
                ></app-machine-production>
              </div>
              <div class="legend">
                <span class="legend-item">
                  <span
                    class="legend-color"
                    [style.background-color]="colors.primary"
                  ></span>
                  Good
                </span>
                <span class="legend-item">
                  <span
                    class="legend-color"
                    [style.background-color]="colors.error"
                  ></span>
                  Bad
                </span>
              </div>
            </div>
            <div class="chart-details">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Good Production %</th>
                    <td>{{ getMachineGenerationDto.totalGoodPercentage }}%</td>
                  </tr>
                  <tr>
                    <th>Estimated Production</th>
                    <td>200</td>
                  </tr>
                  <tr>
                    <th>Good Produced</th>
                    <td>{{ getMachineGenerationDto.totalGood }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-current-stocks></app-current-stocks>
    <!-- <app-revenue-product></app-revenue-product> -->
  </div>
  <div class="col-lg-4">
    <app-total-income></app-total-income>
    <!-- <app-daily-activities></app-daily-activities> -->
  </div>
  <!-- <div class="col-12">
    <app-blog-card></app-blog-card>
  </div> -->
</div>

<!-- <button class="rounded-full" (click)="onShow()">show</button> -->

<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="text-red-500">Lorem ipsum dolor sit amet...</p>
</p-dialog>
