<mat-card class="cardWithShadow" style="width: 360px">
  <mat-card-content>
    <div class="card-container">
      <div class="graph-container">
        <!-- <app-machine-production [data]="data1"></app-machine-production>
        <app-machine-production [data]="data2"></app-machine-production> -->
      </div>
      <div class="legend">
        <span class="legend-item">
          <span
            class="legend-color"
            [style.background-color]="colors.primary"
          ></span>
          Good
        </span>
        <span class="legend-item">
          <span
            class="legend-color"
            [style.background-color]="colors.error"
          ></span>
          Bad
        </span>
      </div>
    </div>
    <div class="chart-details">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Good Production %</th>
            <td>40%</td>
          </tr>
          <tr>
            <th>Estimated Production</th>
            <td>200</td>
          </tr>
          <tr>
            <th>Good Produced</th>
            <td>80</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
