@media print {
    @page {
      size: 8.5in 13in; /* Long bond paper size */
      margin-left: 0.5in; /* Adjust margins */
        margin-right: 0.5in; /* Adjust margins */
    }
  
    body {
      font-family: Arial, sans-serif;
      color: black;
      background: white;
    }
  
    .print-container {
      width: 100%;
      background-color: black;
    }
  
    /* Hide unnecessary elements like buttons */
    .no-print {
      display: none !important;
    }
  }