.filter-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.filter-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .filter-input {
    flex-direction: column;
  }
}

.table-row-even {
  background-color: #f9f9f9; /* Light gray for odd rows */
}

.table-row-odd {
  background-color: #ffffff; /* White for even rows */
}
