<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="k-header">
      <mat-card-title>Void Request</mat-card-title>
      <!-- <button
        (click)="openAuthentication()"
        mat-flat-button
        color="primary"
        class="m-r-8"
      >
        Add
      </button> -->
    </div>
    <div class="table-responsive">
      <table mat-table [dataSource]="voidRequest" class="w-100">
        <!-- Position Column -->
        <!-- Name Column -->
        <ng-container matColumnDef="transNum">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Transaction Number
          </th>

          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600 text-capitalize"
                >{{ element.transNum }}
              </span>
            </h6>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="requestedBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Requested By
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <span class="f-w-600 f-s-14">
              {{ element.requesterName | titlecase }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Status
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <div class="m-l-16">
              <h6 class="f-w-600 f-s-14">
                {{ element.strStatus }}
              </h6>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="approver">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Approver
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <span>
              {{ element.approverName }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="dateRequested">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Date Requested
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <span>
              {{ element.dateRequested }}
            </span>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <!-- <button (click)="showCreateModal(element.id)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button> -->
              <button
                mat-menu-item
                (click)="updateVoidRequest(element.id, status.Accepted)"
              >
                <mat-icon>check</mat-icon>
                <span>Accept</span>
              </button>
              <button
                mat-menu-item
                (click)="updateVoidRequest(element.id, status.Declined)"
              >
                <mat-icon>cancel</mat-icon>
                <span>Reject</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalRecords"
        (page)="getVoidRequest($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<!-- (isAuthenticated)="insertCustomer($event)" -->
<!-- <app-authenticate-user
  (isAuthenticated)="showCreateOrEditModal($event)"
></app-authenticate-user>
<app-create-or-edit-stocks-receiving-modal
  (modalSave)="getAllStocksReceiving()"
></app-create-or-edit-stocks-receiving-modal> -->
<!-- <app-create-or-edit-product
    (modalSave)="getProducts()"
  ></app-create-or-edit-product> -->
