<mat-card
  class="cardWithShadow"
  *ngIf="
    authService.hasRole('Cashier') ||
    authService.hasRole('Admin') ||
    authService.hasRole('Owner')
  "
>
  <mat-card-content>
    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
      <div class="k-header">
        <mat-card-title
          >Sales Table
          <div class="filter-container">
            <div class="filter-input">
              <!-- Transaction Number Filter -->
              <mat-form-field
                appearance="outline"
                class="w-100 item"
                color="primary"
              >
                <mat-label class="f-w-600 m-b-8 d-block"
                  >Transaction Number</mat-label
                >
                <input
                  matInput
                  formControlName="transNum"
                  placeholder="Transaction #"
                />
              </mat-form-field>

              <!-- Date From Filter -->
              <mat-form-field appearance="outline" class="item" color="primary">
                <mat-label class="f-w-600 m-b-8 d-block">Date From</mat-label>
                <input
                  matInput
                  formControlName="minTransDate"
                  placeholder="Date From"
                  [matDatepicker]="picker1"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <!-- Date To Filter -->
              <mat-form-field appearance="outline" class="item" color="primary">
                <mat-label class="f-w-600 m-b-8 d-block">Date To</mat-label>
                <input
                  matInput
                  formControlName="maxTransDate"
                  placeholder="Date To"
                  [matDatepicker]="picker2"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <!-- Sale Type Filter -->
              <mat-form-field appearance="outline" class="item" color="primary">
                <mat-label class="f-w-600 m-b-8 d-block">Type</mat-label>
                <mat-select formControlName="saleType">
                  <mat-option [value]="null">All</mat-option>
                  <mat-option [value]="0">Cash</mat-option>
                  <mat-option [value]="1">Credit</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Payment Status Filter -->
              <mat-form-field appearance="outline" class="item" color="primary">
                <mat-label class="f-w-600 m-b-8 d-block"
                  >Payment Status</mat-label
                >
                <mat-select formControlName="paymentStatus">
                  <mat-option [value]="null">All</mat-option>
                  <mat-option [value]="0">Unpaid</mat-option>
                  <mat-option [value]="1">Partially Paid</mat-option>
                  <mat-option [value]="2">Paid</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Search Button -->
            </div>
            <div class="button-container">
              <button
                type="submit"
                mat-flat-button
                color="primary"
                class="m-t-4"
                matTooltip="Search"
                [disabled]="filterForm.invalid"
              >
                <mat-icon style="margin: 0">search</mat-icon>
              </button>

              <!-- Clear Dates Button -->
              <button
                type="button"
                mat-flat-button
                color="warn"
                class="m-t-4"
                (click)="clearDates()"
                matTooltip="Clear Dates"
              >
                <mat-icon style="margin: 0">free_cancellation</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-title>

        <!-- <button
        (click)="showCreateModal()"
        mat-flat-button
        color="primary"
        class="m-r-8"
      >
        Add
      </button> -->
      </div>
    </form>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <!-- Transaction Number -->
        <ng-container matColumnDef="transNum">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Transaction #
          </th>

          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600 text-capitalize"
                >{{ element.transNum | titlecase }}
              </span>
            </h6>
          </td>
        </ng-container>

        <!-- Customer Name -->
        <ng-container matColumnDef="customerName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Customer Name
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ element.customerName }}
          </td>
        </ng-container>

        <!-- Total Amount -->
        <ng-container matColumnDef="totalAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14 text-capitalize"
          >
            Total Amount
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ element.totalAmount | currency : "PHP" }}
          </td>
        </ng-container>

        <!-- Transaction Date -->
        <ng-container matColumnDef="transactionDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Transaction Date
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ element.transactionDate | date : "MMM d, y, h:mm a" }}
          </td>
        </ng-container>

        <!-- Sold By -->
        <ng-container matColumnDef="soldBy">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Sold By
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ element.soldBy }}
          </td>
        </ng-container>

        <!-- Action -->
        <ng-container
          matColumnDef="action"
          *ngIf="authService.hasRole('Admin') || authService.hasRole('Cashier')"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Actions"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showSalesDetails(element.id)">
                <mat-icon> more_horiz</mat-icon>
                <span>View More</span>
              </button>
              <button
                mat-menu-item
                *ngIf="!element.isInventoryClosed"
                (click)="requestForVoid(element.id)"
              >
                <mat-icon> remove_shopping_cart</mat-icon>
                <span>Void</span>
              </button>
              <!-- <button mat-menu-item (click)="editTransaction(element.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteTransaction(element.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button> -->
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="saleType">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Type
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ saleTypeEnum[element.saleType] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-600 mat-subtitle-1 f-s-14"
          >
            Status
          </th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="mat-body-1"
            [ngClass]="{
              'table-row-even': i % 2 === 0,
              'table-row-odd': i % 2 !== 0
            }"
          >
            {{ paymentStatusEnum[element.paymentStatus] }}
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalRecords"
        (page)="getSales($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<p-dialog
  header="View Sales Details"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [appendTo]="'body'"
  (onHide)="closeForm()"
>
  <app-view-sales-details-v1></app-view-sales-details-v1>
</p-dialog>

<app-sales-summary *ngIf="authService.hasRole('Admin')"></app-sales-summary>
